@media print {
  @page {
    size: A4;
    margin: 1in; /* Adjust margins to fit content */
  }

  body {
    font-size: 12pt;
    line-height: 1.5;
    color: #000;
  }

  h1, h2, h3 {
    page-break-after: avoid; /* Prevent headings from being orphaned */
  }

  p, ul, ol, table {
    page-break-inside: avoid; /* Avoid splitting paragraphs, lists, and tables */
  }

  .experiences, .certifications {
    page-break-before: always; /* Start new sections on a new page */
  }

  .sidebar-wrapper, footer, nav {
    display: none; /* Hide unnecessary elements for print */
  }

  .main-wrapper {
    width: 100%; /* Ensure content spans the full width */
    float: none;
  }

  .skillset .level-bar-inner {
    background-color: #000 !important;
    -webkit-print-color-adjust: exact;
  }

  img.avatar {
    filter: grayscale(1);
    -webkit-filter: greyscale(1);
  }

  .main-wrapper .time {
    float: right;
    color: black !important;
    -webkit-print-color-adjust: exact; 
  }

  .remove-container.container-block {
    display: none;
  }

  .fa-inverse,
  .fa-inverse:after,
  .fa-inverse:before {
    color: #ffffff !important;
  }
}
